sudo: required
services:
- docker
script:
- docker build -t mousehunt-jacksdb .
- docker images
- docker tag mousehunt-jacksdb $DOCKER_USERNAME/mousehunt-jacksdb
deploy:
  provider: script
  script: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD && docker push $DOCKER_USERNAME/mousehunt-jacksdb
  on:
    branch: master

env:
  matrix:
  - secure: jPUv9fKp44T75yzLWSa8gzYO6MHO+7rpMjaniqgMUZGUgApiTbDUYBRRON1AN89G+1pvzpQhufCScaasqF0DSP4RBTRci+XL5qO2HwMdosPojhDw/nCeciYHH0Kj955txJk9rMixYsgDH7YbGBuo8Wf9wCybmyE7FkpbmmNfa3pAPj1iNgk0t+DJan/BS6e4hMkuq+WGuN8jEbp4zqhoFwfREGk7iEsLxLPCShES0e/DSh6rpjVXKn6MfkniWPCdnpefNk/4y//k/zYMxaBf2W5Vg8uT1GeVQ3yZi8pvZYxnYfkZy4nCkW/k3zT7JoOyhm1a344S0V1VdlyusbwKMiX1T5RNqW4bIbNT8kno9rZ3mM2B3UH7eE67qDax03dO5qNXopoMdhG2yr3AgsXEfQxFG6QwAk6grZt4Ztz8R67YGvQXc0bOTkYqPU5xusLGp7B+Wh4/vcQZjNAaebwIjjJ2kde3MIceT8qnFvOQvzAXehWcmOT8xhlYJmxSJA4vxqxspPUw+PmLCzaZIW4mssVzfMxWgsNeYyuf6/y6s8TrJVeqTQErm/TCt7KUT8lzKyY5zKEF+IEiNClatGgSpuCpOy0HseVPEEBx9xjt7GiXy5eqgULIgpKZbWGqs4CvH/ICCwUo3fdB13AZnqf9pEMtC5Yy/qB1gpvAT3pWtlQ=
  - secure: b5zbaTj3gpuOzvO/bPaYofTILPxrk2bkYR8vLuk7E4r2FKaKp09NXVFTAe5qX9GB3/LE2AZHlVDlmmS1AK5VbDmS/d3ii35XtYxPKKawi9gyuuJE6ZOHKwyF5Iwx0U55UrUINXeZHse2jKGNuMU8oha7NjZ8lQrN2DNMi5qjgRRJTHJl6rrv41jzuqdQK0NkCEVISGyVMzs6V88NPhozKHIgki0Y+kfjesyC22vaoHthm7OGQ08q+DRHJgWtWiRzTIP70gL2jdmFa4VHZxk73Vg3aT1lxzE8qX/6JRzYNL8bgIRV/9lH97xIqHjZCrno7tulQVPtbPRwKTzD39aEWQyZRZSrcSQi14Dzgfc/ODobRAAgsOWvW0c1IiEvRVkcg0JOKyfS2khrdeFeq8hNFXc7boqNyBjPidcL6ysIh3r1sorlT8AAwRKh7py+iUTkylE8AwE/6wG0DmR72sGZbBrgv1oT6f9KLzUDEfHRsyCGlcjrxHIOe934g/Kkh16f3bTZo0mQ8GMFEOG75/Uf2/KqkOWUD1svjox73Vpv4S+fXkTgqfpL7h08ZdAHxzOPDMnjT4Yk1LFC7KTfOASv/NU+bYGmNC0u8hLiHUqu3Os+bJCSCcQ1hb3sG3S6qQOEd4pxgJchm51/0l2lbqJ4xHmf7pVv/EJznKNcxPzKLUk=
